
table {
    width: 100%;
    border-collapse: collapse;
    font-size: 10px; 
  }
  

  th {
    background-color: #f2f2f2;
    padding: 6px; 
  }

  td {
    border: 1px solid #ddd;
    padding: 6px; 
  }

  tr:nth-child(odd) {
    background-color: #f2f2f2;
  }
  

  tr:nth-child(even) {
    background-color: #ffffff;
  }
  
  
  body {
    font-size: 10px; 
  }
  